
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face{
font-family: khokan;
    src:url("fonts/domain.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.google img{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 1s ease;
}
.google img:hover{
    margin-top: 2px;
}
body{
    background: url('img/back.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
.containerr{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034), 0 6.7px 5.3px rgba(0,0.0,0.048);
    overflow: hidden;
    width: calc(100vw - 74vw);
    max-width: 100%; 
   
}
.form{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}
.form-control{
    margin-bottom: 30px;
    position: relative;
}
.form-control lable{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family:'Mulish' sans-serif;
    font-size: 14px;
    padding: 12px;
}

.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control i{
    position: absolute;
    right: 8px;
    top: 32px;
    visibility: hidden;
    
}
.form-control.error small{
    visibility: visible;
}
.form-control small{
    color: #e74c3c;
    position: absolute;
    left: 0px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
.header{
    background: linear-gradient(#e53684,#ed5132);
    padding: 30px 0px;
}
.header h3{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.form .btn{
    background: linear-gradient(#ef155a,#b315ed);
    border-radius: 6px;
    border: none;
    color:whitesmoke;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 12px 0px;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    transition: all 1s ease;
}
.form .btn:hover{
   background:linear-gradient(#b315ed,#ef155a);
}
.tag1{
  font-family:'Mulish' sans-serif; 
  margin-left: 40px;
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 15px;  
}
.tag2{
  font-family:'Mulish' sans-serif; 
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 15px;
}
a{
    text-decoration: none;
}
#passwrong{
    font-size: 15px;
    color: #e74c3c;
    letter-spacing: 0.8;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
#sendmail{
    font-size: 15px;
    color: #08a84c;
    letter-spacing: 0.8;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

@media(max-width:998px){
    .containerr{
        width: calc(100vw - 35vw);
        max-width: 100%;
    }
}
















