@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');
@font-face{
font-family: khokan;
  src:url("fonts/domain.ttf");
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#navbarSupportedContent a:hover{
    color:orange;
}
.domainname{
    font-family:khokan;
    font-size: 30px;
    margin-left: 20px;
    letter-spacing:0.8px;
    font-style: bold;
}
h1{
   font-family: 'Lemonada', cursive;
    
}
h2{
   font-family: 'Lemonada', cursive;
    color:orange;
    letter-spacing: 1px;
}
h5{
    color:orange;
}
h3{
    color:orange;
}
.color{
      background:linear-gradient(#e53684,#ed5132);
     box-shadow:0 5px 10px #efefef;
}
.just{
    text-align: justify;
    font-family: 'Mulish', sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    
}
.back{
    background:#d3f0dc;
}
.bgourservices{
    background: #d3f0dc;
}
.sha{
   box-shadow: 0px 25px 42px rgba(0,0,0,0.3);
    
}
.card:hover{
   box-shadow: 0px 25px 42px rgba(0,0,0,0.0); 
    margin-top: 2px;
    
}